.navbar {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  .nav-item {
    border-radius: 20px;
    text-align: center;
  }
  .nav-link {
    margin: 0px 10px 0px 10px;
    white-space: nowrap;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .text-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    padding: 20px;
    bottom: 40%;
    left: 100px; /* Adjust the left position as per your requirement */
    color: white;
    font-size: 3.75rem;
    text-align: left; /* Align the text to the left */
    text-shadow: 10px 10px 20px rgba(0, 0, 0); /* Add text shadow */
    font-family: 'Sevillana', cursive;
    border-radius: 10px;
    z-index: 0;
    a {
      color: #90d5e9;
    }
  }
  video {
    position: fixed;
    top:0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    min-width: 100%; /* Maintain aspect ratio */
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
}

.below-video {
  background: linear-gradient(to bottom right, #1a1a1a, #0d0d33);
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

.below-video-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  #camera-bg {
    position: absolute;
    top: 5%;
    right: 7%;
    width: 22%;
    filter: brightness(0.3)
  }
  #line-1 {
    position: absolute;
    top: 15%;
    right: 10%;
    width: 40%;
    height: 1vw;
    background-image: linear-gradient(to right, transparent 25%, #ffc0cb60 25%);
    background-size: 100px 100%;
    background-repeat: repeat-x;
    transform: translate(-50%, -50%) rotate(-15deg);
    transform-origin: top right;
  }
  #line-2 {
    position: absolute;
    top: 45%;
    right: 0;
    width: 50%;
    height: 1vw;
    background-image: linear-gradient(to right, transparent 25%, #ffc0cb60 25%);
    background-size: 100px 100%;
    background-repeat: repeat-x;
    transform: translate(-50%, -50%) rotate(10deg);
    transform-origin: top right;
  }
  #newspaper-bg {
    position: absolute;
    top: 20%;
    left: 3%;
    width: 22%;
    filter: brightness(0.3)
  }
  #theater-bg {
    position: absolute;
    top: 38%;
    right: 3%;
    width: 22%;
    filter: brightness(0.3)
  }
}

.below-video-fg {
  width: 100%;
  z-index: 1;
}

.about-section {
  margin-top: 50px;
  /* margin-right: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #6b6b6b; */
  /* background: linear-gradient(to bottom right, #1a1a1a, #0d0d33); */

  color: #ffffff;
  .about-image {
    padding-right: 50px;
    width: 30%;
    img {
      width: 100%;
      /* margin-left: 20%; */
      border-radius: 10px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    }
  }
  .about-text {
    width: 40%;
    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    p {
      font-size: 1.5rem;
    }
  }
}

.writing-section {
  margin: 100px auto;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 50px;
  color: #ffffff;
  .writing-header {
    margin-top: 0;
    text-align: left;
    font-size: 2rem;
    padding: 20px;
    padding-left: 0;
  }
  .image-section {
    display: flex;
    justify-content: space-around;
    .image-link {
      position: relative;
      display: inline-block;
      width: 32%;
      height: 500px;
      overflow: hidden;
      /* border-radius: 30px; */
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1s;
      }
      .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        color: #f6f6f6;
        opacity: 0;
        /* border-radius: 30px; */
        transition: opacity 0.5s;
        h2, p {
          margin: 0;
          padding: 10px;
          text-align: center;
        }
      }
    }
    
    .image-link:hover {
      img {
        transform: scale(1.1);
      }
      .image-overlay {
        opacity: 1;
      }
    }
  }
}

.page-footer {
  width: 100%;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  color: #f6f6f6;
  background-color: #333333;
  bottom: 0;
}

.page-footer .container-fluid {
  text-align: center;
}

.portfolio-body {
  background: linear-gradient(to bottom right, #1a1a1a, #0d0d33);
  color: #ffffff;
  .portfolio-header {
    margin-top: 100px;
    font-size: 2rem;
    font-weight: bold;  
    padding: 20px;
  }
  .portfolio-row {
    align-items: center;
    display: flex;
    justify-content: center;
    border: #90d5e9;
    width: 100%;
    margin-left: 100px;
    p {
      font-size: 1.5rem;
    }
    img {
      width: 10%;
      border-radius: 20px;
    }
  }
  .portfolio-writing-section {
    margin: 100px auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 50px;
    color: #ffffff;
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
      padding: 20px;
    }
  }
  h2 {
    margin-left: 100px;
  }
  .carousel-container {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-color: #d8d9da transparent;
    .first-item {
      margin-left: 100px;
    }
    padding-bottom: 50px;
  }
  
  .carousel-item {
    display: inline-block;
    margin-right: 40px;
    position: relative;
    width: 10%;
  }
  .carousel-item.large {
    width: 30%;
    margin-right: 100px;
  }

  .carousel-item img {
    width: 100%;
    border-radius: 20px;
  }
  
  .carousel-item .overlay {
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .carousel-item:hover .overlay {
    opacity: 1;
  }
  
  .carousel-item .overlay p {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto;
  }

  .carousel-container::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
  }
  
  .carousel-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Adjust the background color as needed */
  }
  
  .carousel-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Adjust the thumb color as needed */
    border-radius: 5px; /* Adjust the border radius as needed */
  }
  
  .carousel-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Adjust the hover color as needed */
  }

  .bottom {
    margin-bottom: 100px;
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}